[Unit]
Description=Refresh systemd-boot entries for BTRFS snapshots

[Service]
Type=oneshot
ExecStartPre=sleep 10
ExecStart=/usr/local/bin/refresh-ukis
